body{
    background-color: rgb(55, 75, 51);
    max-width: 1920;
    margin: 1080;
}

footer {
    height: 100px
}

h1{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 75px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

h2{
    color:rgb(203, 221, 224);
    font-family: 'Roboto', sans-serif;
    line-height: 0; 
    text-align: center;
}

h3{
    color:rgb(203, 221, 224);
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 1; 
    text-transform: uppercase;
    text-align: center;
}

p{
    color:rgb(203, 221, 224);
    font-family: 'Roboto', sans-serif;
    line-height: 1; 
    text-align: center;
    display: block;
    max-width: 960px;
}

.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px 25px;
  margin-top: 25px;
  border-style: solid;
  border-color: rgb(219, 188, 188);
  padding: 25px;
  border-radius: 35px;
  
}

/* Chart Format */
.chart-container {
    display: block;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.chart {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: block;
}



/* Button Format - inspired by TobyWinn*/
.button-56, .button-1{
    align-items: center;
    margin: 10px;
    background-color: rgb(203, 221, 224);
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(55, 75, 51);
    cursor: pointer;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display:inline-block;
    }

.button-56:after {
    background-color: #1B2519;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
    background: rgb(219, 188, 188);
}

.button-56:active {
    background-color: rgb(203, 221, 224);
    outline: 0;
}

.button-56:hover {
    outline: 0;
    background: rgb(203, 221, 224);
}

@media (min-width: 768px) {
    .button-56 {
    padding: 0 40px;
  }
}
