body{
    background-color: #222629;
    max-width: 500px;
    margin: auto;
}

h1, h3{
    color:rgb(203, 250, 224);
    font-family: 'Averia Serif Libre', cursive;
  font-size: 70px;
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
}

p{
    color:rgb(203, 250, 224);
    font-family: 'Roboto';
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}
