body{
    background-color: #A39CB7;
    max-width: 550px;
    margin: auto;
}

h1, h3{
    color:#F1F0F4;
    font-family: 'Averia Serif Libre', cursive;
  font-size: 55px;
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
}

p{
    color:#F1F0F4;
    font-family: 'Roboto';
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}
